@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard-dynamic-subset.css');

a {
  text-decoration: none;
  color: inherit;
}

div {
  display: flex;
  justify-content: center;
}

li {
  font-size: 25px;
  font-weight: bold;
}

body{
  text-align: center;
}