.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #eee;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #333;
}


/* badge */
.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.badge {
  background-color: tomato;
  width: 30px;  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}
